.venv
__pycache__
runs/
image-task/runs
image-task/indonesia-dataset/images*
image-task/indonesia-dataset/cctv-images
image-task/indonesia-dataset/cctv-videos
image-task/indonesia-dataset/indonesia*
image-task/indonesia-dataset/labels*
image-task/label_studio_data/images
image-task/coco-dataset/annotations
image-task/coco-dataset/coco_car_only/images
image-task/coco-dataset/coco_car_only/labels
image-task/coco-dataset/train2017
image-task/coco-dataset/val2017
*.zip
*.pth
*.pt
*.pyc
*.DS_Store
*.ipynb_checkpoints
*.mp4
*.avi