.venv
__pycache__
runs/
image-task/runs
image-task/coco-dataset
*.zip
image-task/indonesia-dataset/images
image-task/indonesia-dataset/labels
image-task/indonesia-dataset/images-with-bb

*.pyc
.DS_Store
.ipynb_checkpoints
image-task/models
image-task/indonesia-dataset

image-task/label_studio_data
*.zip